--bg-0: #0e160f;
--bg-1: #182219;
--bg-2: #182219;
--bg-3: #182219;
--text-1: #dfeedd;
--text-2: #dfeedd;
--text-3: #dfeedd;
--text-4: #dfeedd;
--accent: #5aa568;
--accent-text: #0e160f;
--app-bg: #0e160f;
--app-fg: #dfeedd;
